@page "/detailedreport"

<h3>Detailed Report</h3>

<iframe width="1500" height="850" src="https://app.powerbi.com/reportEmbed?reportId=6d451f9e-8834-4188-9921-a24387feee4c&autoAuth=true&ctid=3aa9b36d-101c-4a09-afae-ea6729b356c9&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWFmcmljYS1ub3J0aC1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>