@page "/detailedreport"

<h3>Detailed Report</h3>

<iframe width="1500" height="850" src="https://app.powerbi.com/reportEmbed?reportId=b0e4c9f7-1965-4d69-a064-89b289ca0cd0&autoAuth=true&ctid=ca21cd27-a806-4145-9704-c6a85e58d194&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>