@page "/fetchdata"

@using Penguin.Data
@using Microsoft.AspNetCore.Authorization
@inject WeatherForecastService ForecastService

@*@attribute [Authorize]*@

<h1>Coming soon</h1>

<p>Items we are working on.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            <tr>
                <td>- OpenAPI background sync (Merging of transactions)</td>
            </tr>
            <tr>
                <td>- Facebook messenger bot (Notifications of bad transactions)</td>
            </tr>
            <tr>
                <td>- Security (2FA, revoking/changing IDs)</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}